<style type="text/css">
    area:hover {
        cursor: pointer;
    }
    img[usemap] {
        border: none;
        height: auto;
        max-width: 100%;
        min-width: 100%;
        width: auto;
    }
    </style>
    <div ng-hide="showvideo">
        <img class="rwdimgmap img-fluid" src="images/Avaya Cart.jpg" usemap="#powerpuffgirlsnew" alt="" />
        <map name="powerpuffgirlsnew">
            <area target="" alt="" title="" ui-sref="redeem" coords="1418,25,1418,334,1922,336,1920,27" shape="poly">
        </map>
    </div>
    <!-- <video playsinline id="video" preload="" ng-show="showvideo">
        <source src="videos/STALL RENDERS.mp4" type="video/mp4">
    </video> -->
    