<style type="text/css">
    area:hover {
        cursor: pointer;
        border: none;
        outline: none;
    }
    area{
        border: none;
        outline: none;
    }
    img[usemap] {
        border: none;
        height: auto;
        max-width: 100%;
        min-width: 100%;
        width: auto;
    }
.expo-header{
    background-color: #4a2d16;
}
.modal-title{
  display: flex;
    justify-content: flex-start;
    align-items: center;
}
.modal-title img{
  max-width: 15%;
  margin-left: 2vh;
  margin-right: 2vh;

}

    </style>
    <div ng-hide="showvideo" style="position: relative;">
        <img class="rwdimgmap img-fluid" src="https://d3daqnblwo9fae.cloudfront.net/bluehost.jpg" usemap="#powerpuffgirlsnew" alt="" />
        <map name="powerpuffgirlsnew">
            <area target="" alt="chat" title="chat" data-toggle="modal" data-target="#exampleModal6" coords="53,109,56,207,471,211,471,111" shape="poly">
            <area target="" alt="video-conf" data-toggle="modal" data-target="#exampleModal6" coords="51,238,49,331,473,336,467,238" shape="poly">
            <area target="" alt="videos" title="videos" ng-click="videotracking()" data-toggle="modal" data-target="#videosModal" coords="53,363,51,454,476,465,478,363" shape="poly">
            <area target="" alt="brochures" ng-click="brochuretracking()" title="brochures" data-toggle="modal" data-target="#brochureModal" coords="51,488,51,579,469,590,482,486" shape="poly">
            <area target="" alt="games" ng-click="gametracking()" title="games"  data-toggle="modal" data-target="#gameModal2" coords="2110,109,2113,202,2523,207,2530,104" shape="poly">
            <area target="" alt="links" title="links" data-toggle="modal" data-target="#linksModal" coords="2113,234,2110,336,2528,331,2530,236" shape="poly">
            <area target="" alt="join demo" data-toggle="modal" data-target="#exampleModal6" coords="2113,368,2113,454,2528,459,2533,354" shape="poly">
            <area target="" alt="faq" title="faq" data-toggle="modal" data-target="#faqModal" coords="2113,488,2110,579,2526,588,2523,481" shape="poly">

            <!-- <area target="blank" alt="brochure1" title="brochure1" href="images/docs/1. IFCAI/IBS AACSB Accr Ad.pdf" coords="201,713,196,790,432,795,408,711" shape="poly">
            <area target="blank" alt="brochure2" title="brochure2" href="images/docs/1. IFCAI/IBS Case Studies brochure.pdf" coords="201,822,190,897,426,901,432,820" shape="poly">
            <area target="blank" alt="brochure3" title="brochure3" href="images/docs/1. IFCAI/IBSAT 2 folder 2021 - updated.pdf" coords="630,929,635,1040,957,1044,952,924" shape="poly">
            <area target="blank" alt="brochure4" title="brochure4" href="images/docs/1. IFCAI/IBSAT-flyer2021 - updated.pdf" coords="2174,713,2174,808,2401,801,2403,697" shape="poly">
            <area target="blank" alt="brochure5" title="brochure5" href="images/docs/1. IFCAI/Icfai Group Profile Flyer 2020.pdf" coords="2178,820,2181,904,2412,901,2390,815" shape="poly">
            <area target="" alt="video" title="video"  ng-click="myTrigger('video')" coords="1509,819,1502,919,1806,933,1806,817" shape="poly"> -->
            
        </map>
        <div class="back-button">
            <button ui-sref="expo" class="back-btn"><i class="fas fa-arrow-circle-left"></i> &nbsp;<span>Back</span></button>
        </div>
        <div class="expo-msg-box">
           <p>{{booth_message}}</p>
        </div>
    </div>
    <div class="lightbox" ng-if="popupvideo" id="lightbox-1">
        <div class="video-pop-box">
        <iframe src="https://www.youtube.com/embed/kiNZcYoPVaQ?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a class="lightbox__close" ng-click="closePopup()"> <img id="close-card" src="images/close-Copy.svg"></a>
    </div>
    </div>
    <div class="lightbox" ng-if="popupvideo2" id="lightbox-1">
        <div class="video-pop-box">
        <iframe src="https://player.vimeo.com/video/488064064?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a class="lightbox__close" ng-click="closePopup()"> <img id="close-card" src="images/close-Copy.svg"></a>
    </div>
    </div>
    <div class="lightbox" ng-if="popupvideo3" id="lightbox-1">
      <div class="video-pop-box">
      <iframe src="https://www.youtube.com/embed/eaI9GUigaAg?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <a class="lightbox__close" ng-click="closePopup()"> <img id="close-card" src="images/close-Copy.svg"></a>
  </div>
  </div>
  <div class="lightbox" ng-if="popupvideo4" id="lightbox-1">
    <div class="video-pop-box">
    <iframe src="https://player.vimeo.com/video/489687911?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a class="lightbox__close" ng-click="closePopup()"> <img id="close-card" src="images/close-Copy.svg"></a>
</div>
</div>
  <!-- <div class="lightbox" ng-if="popupvideo4" id="lightbox-1">
      <div class="video-pop-box">
      <iframe src="images/brochure/2. RIGHT_Driving Real Connections with Connected Consumers.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <a class="lightbox__close" ng-click="closePopup()"> <img id="close-card" src="images/close-Copy.svg"></a>
  </div>
  </div> -->

    <!-- video-modal -->
    <div class="modal fade" id="videosModal" tabindex="-1" role="dialog" aria-labelledby="videosModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header  expo-header">
              <h5 class="modal-title" id="VideoModalLabel">Videos List</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
                <div id="modalVideoBody" class="modal-body">
                    <div class="videos">
                        <ul class="videos-list">
                          <a ng-click="myTrigger('video')"><li>How to set up your Bluehost account</li></a>
                          <a ng-click="myTrigger('video2')"><li>Bluehost Maestro Panel</li></a>
                          <a ng-click="myTrigger('video3')"><li>Bluehost: Powering the Creators</li></a>
                          <a ng-click="myTrigger('video4')"><li>Bluehost Maestro Panel Walk Through</li></a>
                          <!-- <a href=""><li>video 4</li></a> -->
                          <!-- <a href=""><li>video 5</li></a>
                          <a href=""><li>video 6</li></a> -->
                        </ul>
                    </div>
                  </div>
          </div>
        </div>
      </div>

      <!-- brochure-modal -->
      <div class="modal fade" id="brochureModal" tabindex="-1" role="dialog" aria-labelledby="brochureModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header expo-header">
              <h5 class="modal-title" id="brochureModalLabel">Brochures List</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
                <div id="modalbrochureBody" class="modal-body">
                    <div class="videos">
                        <ul class="videos-list">
                          <a href="brochures/bluehost/Bluehost Affiliate Brochure - Cloudbazaar.pdf" target="blank" ng-click="brochurePoints()"><li>Bluehost Affiliate Brochure - Cloudbazaar</li></a>
                          <a href="brochures/bluehost/Bluehost Maestro Brochure.pdf" target="blank" ng-click="brochurePoints()"><li>Bluehost Maestro Brochure</li></a>
                          <a href="brochures/bluehost/Bluehost - Product Brochure.pdf" target="blank" ng-click="brochurePoints()"><li>Bluehost: The Perfect Place to WordPress</li></a>
                          <!-- <a href="" target="blank"><li></li></a>
                          <a href="" target="blank"><li></li></a>
                          <a href="" target="blank"><li></li></a> -->
                        </ul>
                    </div>
                  </div>
          </div>
        </div>
      </div>

    <!-- links modal -->
    <div class="modal fade" id="linksModal" tabindex="-1" role="dialog" aria-labelledby="linksModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header expo-header">
              <h5 class="modal-title" id="linksModalLabel">Links List</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
                <div id="modallinksBody" class="modal-body">
                    <div class="videos">
                        <ul class="videos-list">
                          <a href="https://www.bluehost.in/wordpress/wordpress-hosting" target="blank"><li>Bluehost WordPress Hosting</li></a>
                          <a href="https://www.bluehost.in/affiliates" target="blank"><li>Bluehost Affiliate Program</li></a>
                          <a href="https://www.bluehost.in/hosting/shared" target="blank"><li>Bluehost Shared Hosting</li></a>
                          <a href="https://www.bluehost.in/hosting/vps" target="blank"><li>Bluehost VPS Hosting</li></a>
                          <a href="https://www.bluehost.in/hosting/dedicated" target="blank"><li>Bluehost Dedicated Hosting</li></a>
                          <a href="https://www.bluehost.in/microsoft-office-365" target="blank"><li>Microsoft 365</li></a>
                        </ul>
                    </div>
                  </div>
          </div>
        </div>
      </div>

          <!-- links modal -->
    <div class="modal fade" id="demosModal" tabindex="-1" role="dialog" aria-labelledby="demosModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header expo-header">
              <h5 class="modal-title" id="demosModalLabel">Demos</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal(this)">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
                <div id="modaldemosBody" class="modal-body">
                  <iframe id="demo-iframe" allow="camera; microphone; fullscreen; display-capture" src=""  class="accordion" frameborder="0"></iframe>
                  </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="demosModal2" tabindex="-1" role="dialog" aria-labelledby="demosModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header expo-header">
              <h5 class="modal-title" id="demosModalLabel">Demos</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
                <div id="modaldemosBody2" class="modal-body">
                  <div class="videos">
                    <ul class="videos-list">
                      <li onclick="open_demoBlue()">11th Dec, 12 pm -  Bluehost Maestro Panel Demo</li>
                      <li onclick="open_demoBlue()">11th Dec, 3 pm - Introducing the Bluehost WordPress management panel</li>
                      <li onclick="open_demoBlue()">11th Dec, 5 pm -  Bluehost Maestro Panel Demo</li>
                      <li onclick="open_demoBlue()">12th Dec, 11 am -  Bluehost Maestro Panel Demo</li>
                      <li onclick="open_demoBlue()">12th Dec, 3.30 pm -  Bluehost Maestro Panel Demo</li>
                      <li onclick="open_demoBlue()">12th Dec, 5 pm - Introducing the Bluehost WordPress management panel</li>

                    </ul>
                </div>
                  </div>
          </div>
        </div>
      </div>

        <!-- faq modal -->
    <div class="modal fade" id="faqModal" tabindex="-1" role="dialog" aria-labelledby="faqModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header expo-header">
              <h5 class="modal-title" id="faqModalLabel">FAQ</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
                <div id="modalfaqBody" class="modal-body">
                   <iframe src="https://cloudbazaar.virtex.in/faq-bluehost.html" frameborder="0"></iframe>
                  </div>
          </div>
        </div>
      </div>

                         <!-- games modal -->
    <div class="modal fade" id="gameModal2" tabindex="-1" role="dialog" aria-labelledby="gameModalLabel" aria-hidden="true">
      <div style="margin-top: 2%;" class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header expo-header">
            <h5 class="modal-title" id="gameModalLabel"><img src="images/bluehost-logo.png"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
              <div id="modalgameBody2" class="modal-body">
                <h2>Instructions</h2>
                <ol>
                  <li>Use mouse for navigation</li>
                  <li>You have only 5 chances</li>
                </ol>
                <button type="button" class="game-btn" onclick="open_gameBlue()">Play Game</button>
                </div>
        </div>
      </div>
    </div>

    <!-- onclick="open_gameBlue()" -->

    <div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="gameModalLabel" aria-hidden="true">
      <div style="margin-top: 2%;" class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header expo-header">
            <h5 class="modal-title" id="gameModalLabel">Slay with <img src="images/bluehost-logo.png">  & win a One Plus 8 pro </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal(this)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
              <div id="modalgameBody" class="modal-body">
                 <iframe id="myFrame" class="accordion" frameborder="0"></iframe>
                </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <p>"Thank you for visiting us, the event is over now."</p>   
          </div>
        </div>
      </div>
    </div>