<style>
    #container9{
        display: flex;
        overflow: hidden;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
</style>
<div id="container9">
    
    <div class="leader-box">
        <h1>Briefcase</h1>   
<table>
    <thead>
        <tr>
            <th id="th-small">S.no</th>
            <th id="name-left">Elements</th>
            <th id="th-small">Download</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="serial-no" data-column="S.no">1</td>
            <td id="table-name" data-column="Name">
                <!-- <div class="leader-image">
                    <img src="images/user.svg">
                </div> -->
                <div class="leader-name">
                    <div class="leader-name-txt">
                        Session 1
                    </div>
                    <div class="leader-name-desig">
                        Reliance Energy Live Session
                    </div>
                </div>
            </td>
            <td id="points" data-column="Points"><button id="download-btn">Download</button></td>
        </tr>
        <tr>
            <td data-column="S.no">2</td>
            <td id="table-name" data-column="Name">
                <!-- <div class="leader-image">
                    <img src="images/user.svg">
                </div> -->
                <div class="leader-name">
                    <div class="leader-name-txt">
                        Session 2
                                        </div>
                    <div class="leader-name-desig">
                        NTPC Live Session
                    </div>
                </div>
            </td>    
            <td id="points" data-column="Points"><button id="download-btn">Download</button></td>
        </tr>
        <tr>
            <td data-column="S.no">3</td>
            <td id="table-name" data-column="Name">
                <!-- <div class="leader-image">
                    <img src="images/user.svg">
                </div> -->
                <div class="leader-name">
                    <div class="leader-name-txt">
                        Session 3
                    </div>
                    <div class="leader-name-desig">
                        SB Live Session
                    </div>
                </div>
            </td>
            <td id="points" data-column="Points"><button id="download-btn">Download</button></td>
        </tr>
        <tr>
            <td data-column="S.no">4</td>
            <td id="table-name" data-column="Name">
                <!-- <div class="leader-image">
                    <img src="images/user.svg">
                </div> -->
                <div class="leader-name">
                    <div class="leader-name-txt">
                        Brochure 1
                    </div>
                    <div class="leader-name-desig">
                        Reliance
                    </div>
                </div>
            </td>
            <td id="points" data-column="Points"><button id="download-btn">Download</button></td>
        </tr>
        <tr>
            <td data-column="S.no">5</td>
            <td id="table-name" data-column="Name">
                <!-- <div class="leader-image">
                    <img src="images/user.svg">
                </div> -->
                <div class="leader-name">
                    <div class="leader-name-txt">
                       Brochure 2
                    </div>
                    <div class="leader-name-desig">
                        Adani
                    </div>
                </div>
            </td>
            <td id="points" data-column="Points"><button id="download-btn">Download</button></td>
        </tr>
       
    </tbody>
</table>
</div>
</div>