<style type="text/css">
    area:hover {
        cursor: pointer;
    }
    img[usemap] {
        border: none;
        height: auto;
        max-width: 100%;
        min-width: 100%;
        width: auto;
    }
    /* resource */
    .resource-main{   
        background-color: black;
        width: 30%;
        height: 40%;
        top: 30%;
        display: none;
        flex-direction: column;
        padding-top: 1vh;
        padding-bottom: 1vh;
        position: absolute;
        left: 35%;
        border-radius: 8px;
    }
    .close-data{
        width: 3vh;
        position: absolute;
        top: 1vh;
        right: 1vh;
        cursor: pointer;
    }
    .resource-box{
        display: flex;
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
    }
    .resource-box ul{
        color: white;
        width: 100%;
    }
    .resource-box ul li{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        padding: 2vh;
        cursor: pointer;
    }
    .resource-box span{
        font-size: 20px;
        font-weight: 600;
    }
    .heading{
        text-align: center;
        width: 100%;
        padding-bottom: 2vh;
        color: white;
    }
    .heading h1{
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: underline;
    }

    /* video */
    .video-main{   
        background-color: black;
        width: 30%;
        height: 40%;
        top: 30%;
        display: none;
        flex-direction: column;
        padding-top: 1vh;
        padding-bottom: 1vh;
        position: absolute;
        left: 35%;
        border-radius: 8px;
    }
    .video-box{
        display: flex;
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
    }
    .video-box ul{
        color: white;
        width: 100%;
    }
    .video-box ul li{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        padding: 2vh;
        cursor: pointer;
    }
    .video-box span{
        font-size: 20px;
        font-weight: 600;
    }

    /* brochure */
    .brochure-main{   
        background-color: black;
        width: 30%;
        height: 40%;
        top: 30%;
        display: none;
        flex-direction: column;
        padding-top: 1vh;
        padding-bottom: 1vh;
        position: absolute;
        left: 35%;
        border-radius: 8px;
    }
    .brochure-box{
        display: flex;
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
    }
    .brochure-box ul{
        color: white;
        width: 100%;
    }
    .brochure-box ul li{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        padding: 2vh;
        cursor: pointer;
    }
    .brochure-box span{
        font-size: 20px;
        font-weight: 600;
    }
    .modal-dialog{
      margin-top: 10%;
    }
    iframe{
      width: 100%;
      max-height: 56vh;
      min-height: 56vh;
    }
    a{
      text-decoration: none !important;
      color: white;
    }
    .text{
      width: 85%;
    /* text-overflow: ellipsis; */
    word-break: break-word;
    }
    .alert{
        background-color:grey;
        color: white;
    }
    .alert h1{
        font-weight: 600;
        font-size: 20px;
    }
    .close{
        color: white;
        font-size: 26px;
    }
    .modal-body p{
        font-size: 18px;
    }
.company-name{
    text-align: center;
    width: 100%;
    background-color: rgb(210 210 208);
    padding: 1vh;

}
.company-name h1{
    font-size: 18px;
    font-weight: 700;
}
.chat-pop{
        background-color: white;
        height: 45vh;
        width: 21%;
        z-index: 999999;
        position: absolute;
        bottom: 40%;
        border-radius: 8px;
        right: 5vh;
        display: block;
    }
    .message-container{
        height: 90%;
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
        background-color: white;
        padding:1vh;
        
    }
    .close-chat-expo{
        position: absolute;
        top: -1vh;
        right: -1vh;
        width: 3vh;
        cursor: pointer;
    }
    .name-time{
        display: flex;
        justify-content: space-between;
    }
    .expo-name{
        margin-right: 3vh;
    }
    .expo-chat{
        margin-bottom: 2vh;
    }
    .expo-message{
        color: #7c7c7c;
    }
    </style>
    <div ng-hide="showvideo" style="position: relative;">
        <img class="rwdimgmap img-fluid"  src="images/stalls/Alliance Booth 2_Brightstar.jpg" usemap="#powerpuffgirlsnew" alt="" />
        <map name="powerpuffgirlsnew">
            <!-- <area target="" alt="resources" title="resources" onclick="resources()"  coords="242,568,487,563,489,699,233,699" shape="poly"> -->
            <area target="" alt="video" title="video"  data-toggle="modal" data-target="#myModal2" coords="1248,656,1243,797,1511,799,1513,658" shape="poly">
            <area target="" alt="chat" title="chat" ng-click="showchatWithUs()" coords="1867,872,1867,969,2035,967,2035,870" shape="poly">
            <area target="" alt="brochure" title="brochure" onclick="boothbrochure()"  coords="296,754,296,890,541,897,548,758" shape="poly">
        </map>
        <div class="chat-pop" ng-show="chatwithuspopup">
            <img class="close-chat-expo" src="images/criss-cross.svg" ng-click="hidechatWithUs()">
            <div class="company-name">
                <h1 id="">Brightstar</h1>
                </div>
            <div class="message-container">          
                
            </div>
            <div id="chat-msg" >
                <div id="input-icon-chat">
              <i id="input-icon" class="fas fa-paper-plane" ng-click="sendMessage(message)"></i>
              </div>
              <input style="border: none;outline-style: none;" ng-model="message" ng-keypress="($event.charCode==13)? sendMessage(message) : return"  class="chat-input" id="chat-input-text" type="text" placeholder="Start Typing..." autofocus>
            </div>
        </div>
    </div>

    <div class="resource-main">
       <div class="heading">
           <h1>Resources</h1>
       </div>
        <img src="images/criss-cross.svg" onclick="close_data()" class="close-data">
        <div class="resource-box">
            <ul>
              <a href="videos/Brightstar/Avaya Aura platform.pdf" target="blank"><li><span class="text">Avaya Aura platform</span><span><i class="fas fa-file-pdf"></i></span></li></a>
              <a href="videos/Brightstar/Avaya-HEADSETS-BROCHURE.pdf" target="blank"><li><span class="text">Avaya-HEADSETS-BROCHURE</span><span><i class="fas fa-file-pdf"></i></span></li></a>
              <a href="videos/Brightstar/BR-OPEN-PRODUCTS-DV15372EN.pdf" target="blank"><li><span class="text">BR-OPEN-PRODUCTS-DV15372EN</span><span><i class="fas fa-file-pdf"></i></span></li></a>
              <a href="videos/Brightstar/FS-AVAYA-IP-OFFICE-finalv2 7222020.pdf" target="blank"><li><span class="text">FS-AVAYA-IP-OFFICE</span><span><i class="fas fa-file-pdf"></i></span></li></a>
              
                <!-- <li onclick="open_video_modal('videos/Google/Contact_Center_AI_inancial_Services.mp4')"><span class="text">Contact Center AI Financial Services</span><span><i class="far fa-play-circle"></i></span></li>
                <li onclick="open_video_modal('videos/Google/Contact_Center_AI_Telecommunications.mp4')"><span class="text">Contact Center AI Telecommunications</span><span><i class="far fa-play-circle"></i></span></li>
                <li onclick="open_video_modal('videos/Google/Google_Cloud_and_Avaya-Contact_Center_AI_for_Healthcare.mp4')"><span class="text">Google Cloud and Avaya Contact Center AI for Healthcare</span><span><i class="far fa-play-circle"></i></span></li>
                <li onclick="open_video_modal('videos/Google/How_Google_Contact_Center_AI_transforms_the_retail_call_center.mp4')"><span class="text">How Google Contact Center AI transforms the retail call center</span><span><i class="far fa-play-circle"></i></span></li> -->
            </ul>
        </div>
    </div>
    <div class="video-main">
        <div class="heading">
            <h1>Videos</h1>
        </div>
         <img src="images/criss-cross.svg" onclick="close_data()" class="close-data">
         <div class="video-box">
             <ul>
                 <li ng-click="showVideoSolution('https://player.vimeo.com/video/471956082?autoplay=1')"  data-category="video_play" data-label="Contact Center AI Financial Services" data-value="Videos" listen><span class="text">Contact Center AI Financial Services</span><span><i class="far fa-play-circle"></i></span></li>
                 <li ng-click="showVideoSolution('https://player.vimeo.com/video/471956082?autoplay=1')"  data-category="video_play" data-label="Contact Center AI Telecommunications" data-value="Videos" listen><span class="text">Contact Center AI Telecommunications</span><span><i class="far fa-play-circle"></i></span></li>
                 <li ng-click="showVideoSolution('https://player.vimeo.com/video/471956082?autoplay=1')"  data-category="video_play" data-label="Google Cloud and Avaya Contact Center AI for Healthcare" data-value="Videos" listen><span class="text">Google Cloud and Avaya Contact Center AI for Healthcare</span><span><i class="far fa-play-circle"></i></span></li>
                 <li ng-click="showVideoSolution('https://player.vimeo.com/video/471956082?autoplay=1')"  data-category="video_play" data-label="How Google Contact Center AI transforms the retail call center" data-value="Videos" listen><span class="text">How Google Contact Center AI transforms the retail call center</span><span><i class="far fa-play-circle"></i></span></li>
             </ul>
         </div>
     </div>
     <div class="brochure-main">
        <div class="heading">
            <h1>Brochures</h1>
        </div>
         <img src="images/criss-cross.svg" onclick="close_data()" class="close-data">
         <div class="brochure-box">
             <ul>
                <a ng-click="broucherDownload('videos/Brightstar/Avaya Aura platform.pdf')"  data-category="pdf_download" data-label="Avaya Aura platform" data-value="Brochure" listen><li><span class="text">Avaya Aura platform</span><span><i class="fas fa-file-pdf"></i></span></li></a>
                <a ng-click="broucherDownload('videos/Brightstar/Avaya-HEADSETS-BROCHURE.pdf')"  data-category="pdf_download" data-label="Avaya-HEADSETS-BROCHURE" data-value="Brochure" listen><li><span class="text">Avaya-HEADSETS-BROCHURE</span><span><i class="fas fa-file-pdf"></i></span></li></a>
                <a ng-click="broucherDownload('videos/Brightstar/BR-OPEN-PRODUCTS-DV15372EN.pdf')" data-category="pdf_download" data-label="BR-OPEN-PRODUCTS-DV15372EN" data-value="Brochure" listen ><li><span class="text">BR-OPEN-PRODUCTS-DV15372EN</span><span><i class="fas fa-file-pdf"></i></span></li></a>
                <a ng-click="broucherDownload('videos/Brightstar/FS-AVAYA-IP-OFFICE-finalv2 7222020.pdf')"  data-category="pdf_download" data-label="FS-AVAYA-IP-OFFICE" data-value="Brochure" listen><li><span class="text">FS-AVAYA-IP-OFFICE</span><span><i class="fas fa-file-pdf"></i></span></li></a>
              

             </ul>
         </div>
     </div>
     <div class="lightbox reception_video" ng-if="popupVideoSolution"  ng-init="startVideo()" id="lightbox-1">
        <div class="video-pop-box">
            <iframe ng-src="{{currentpopupvideo}}" id="popupVideoSolution" frameborder="0" allow="autoplay; fullscreen"></iframe>
            <a class="lightbox__close" ng-click="hideVideoSolution()"><img src="images/close.svg"></a>
        </div>
    </div> 
     <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            
            <button type="button" class="close video_close" onclick="closeModal()">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body video_body">
           <!-- <iframe src=""></iframe> -->
          </div>
          
          
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content alert">
            <div class="modal-header">
                <h1>Alert</h1>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <p>Content Not Available</p>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
          </div>
          
        </div>
      </div>

    