<div id="container6">
   
    <div id="support2">
        <!-- <h3>Proudly Supported By</h3> -->
        <br>
        <div id="box2">
          <a href = "#">
            <img id = "img3" src = "images/aws-c.png">
          </a>
          <br><br>
        </div>
        <div id="box2">
          <a href = "#">
            <img id = "img3" src = "images/aws-c.png">
          </a>
          <br><br>
        </div>
        <div id="box2">
          <a href = "#">
            <img id = "img3" src = "images/aws-c.png">
          </a>
          <br><br>
        </div>
      </div>
</div>