<style type="text/css">
    area:hover {
        cursor: pointer;
    }
    img[usemap] {
        border: none;
        height: auto;
        max-width: 100%;
        min-width: 100%;
        width: auto;
    }
    </style>
    <div ng-hide="showvideo">
        <img class="rwdimgmap img-fluid" src="images/Experience Zone_Main.jpg" usemap="#powerpuffgirlsnew" alt="" />
        <map name="powerpuffgirlsnew">
            <area target="" alt="CCaaS" title="CCaaS" ui-sref="ccaas" coords="716,847,716,990,492,994,496,1192,732,1190,832,1094,816,847" shape="poly">
            <area target="" alt="UCaaS" title="UCaaS" ui-sref="ucaas" coords="946,951,1052,951,1055,826,1141,824,1143,956,1129,1065,1080,1112,887,1115,877,1010" shape="poly">
            <area target="" alt="professional-services" title="aps" ui-sref="aps" coords="1425,954,1434,822,1525,826,1525,956,1627,951,1699,1017,1695,1117,1509,1119,1447,1062" shape="poly">
            <area target="" alt="service" title="service" ui-sref="service" coords="1765,847,1754,992,1747,1090,1854,1194,2076,1196,2088,1067,2038,1022,1867,847" shape="poly">
            <area target="" alt="" title="" ng-click="showVideo()" coords="1173,764,1175,869,1405,873,1402,769" shape="poly">
        </map>
    </div>
    <div class="lightbox reception_video" ng-if="popupVideo" id="lightbox-1">
        <div class="video-pop-box">
            <iframe src="https://player.vimeo.com/video/472462424?autoplay=1" id="popUpVideo" frameborder="0" allow="autoplay; fullscreen"></iframe>
            <a class="lightbox__close" ng-click="hideVideo()"><img src="images/close.svg"></a>
        </div>
    </div>