  <style type="text/css">
    area:hover {
        cursor: pointer;
    }
    img[usemap] {
        border: none;
        height: auto;
        max-width: 100%; 
        min-width: 100%;
        width: auto;
    }
    @-webkit-keyframes beat {
        0% {-webkit-transform: scale(1, 1);}
        50% {-webkit-transform: scale(0.9, 0.9);}
        100% {-webkit-transform: scale(1, 1);}
    }
    .powered_by {
        font-family: 'Poppins', sans-serif;
        /* font-size: 150px; */
        font-weight: 200;
        /* transform: rotate(-5deg); */
        background: linear-gradient(45deg, #fff 20%, #fff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 85px;
        text-align: center;
        /* padding: 40px 10px 95px; */
        filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.5));
        text-outline: 1px solid black;
        -webkit-animation: beat 1.5s ease-out;
            -webkit-animation-iteration-count: infinite;
    }
    </style>
    <div ng-hide="showvideo">
        <img class="rwdimgmap img-fluid" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/processed_1.jpeg" usemap="#powerpuffgirlsnew" alt="" />
        <map name="powerpuffgirlsnew">
            <area target="" alt="akola" title="akola" ui-sref="expo-by-category2({id: 99})" coords="371,95,371,241,641,246,639,94" shape="poly">
            <area target="" alt="amravati" title="amravati" ui-sref="expo-by-category2({id: 98})" coords="667,95,665,243,933,244,933,95" shape="poly">
            <area target="" alt="aurangabad" title="aurangabad" ui-sref="expo-by-category2({id: 100})" coords="959,98,956,243,1218,241,1217,98" shape="poly">
            <area target="" alt="goa" title="goa" ui-sref="expo-by-category2({id: 106})" coords="82,295,81,439,341,443,339,295" shape="poly">
            <area target="" alt="jalgaon" title="jalgaon" ui-sref="expo-by-category2({id: 105})" coords="380,296,378,440,638,443,636,297" shape="poly">
            <area target="" alt="kolhapur" title="kolhapur" ui-sref="expo-by-category2({id: 108})" coords="670,294,670,442,928,441,935,295" shape="poly">
            <area target="" alt="mumbai" title="mumbai" ui-sref="expo-by-category2({id: 104})" coords="962,297,962,439,1217,439,1214,297" shape="poly">
            <area target="" alt="nagpur" title="nagpur" ui-sref="expo-by-category2({id: 101})" coords="81,493,79,636,343,639,344,492" shape="poly">
            <area target="" alt="navi-mumbai" title="navi-mumbai" ui-sref="expo-by-category2({id: 103})" coords="379,492,376,639,636,633,638,492" shape="poly">
            <area target="" alt="pune" title="pune" ui-sref="expo-by-category2({id: 107})" coords="669,491,670,636,929,639,931,489" shape="poly">
            <area target="" alt="nashik" title="nashik" ui-sref="expo-by-category2({id: 102})" coords="962,494,958,634,1213,634,1216,495" shape="poly">
            <!-- <area target="" alt="pune" title="pune" ui-sref="expo-by-category2({id: 104})" coords="915,934,1555,1293" shape="rect">
            <area target="" alt="hyderabad" title="hyderabad" ui-sref="expo-by-category2({id: 105})" coords="1673,938,2311,1296" shape="rect"> -->
            <!-- <area shape="poly" coords="1276,527,1258,636,1309,709,1370,753,1655,756,1672,558,1641,509,1565,493" title="Expo Category 1" alt="Expo Category 1" /> -->
            <!-- <area target="" alt="Exhibitor Pavilion" ui-sref="expo-by-category({id: '3'})" title="Exhibitor Pavilion" href="" coords="273,1333,276,949,307,906,378,906,346,888,344,852,319,824,344,824,362,813,852,815,861,824,886,824,861,859,855,879,848,888,825,915,916,918,916,940,902,997,861,1017,868,1047,889,1047,889,1204,950,1215,948,1315,968,1333" shape="poly">
            <area target="" alt="Partner Pavilion" ui-sref="expo-by-category({id: '1'})" title="Partner Pavilion" href="" coords="1456,1338,2237,1336,2210,1302,2205,1248,2153,1227,2158,1186,2267,1184,2269,1155,2160,1145,2153,1102,2171,1080,2296,1080,2298,1046,2169,1039,2176,1012,2208,993,2205,941,2228,930,2226,912,2069,921,2124,832,2096,823,1608,816,1595,830,1579,834,1636,921,1461,921,1461,1000,1586,1016,1592,1184,1549,1182,1545,1155,1490,1161,1486,1320" shape="poly">
            <area target="" alt="Sponsor Pavilion" ui-sref="expo-by-category({id: '2'})" title="Sponsor Pavilion" href="" coords="902,750,1658,750,1617,716,1613,405,1561,398,1624,325,1597,323,1579,311,1141,316,1129,325,1109,325,1134,384,1168,402,1116,402,1100,393,1097,357,943,359,948,498,943,681,907,679" shape="poly"> -->
        </map>
<!-- <span style="position: absolute;bottom: -3%;right: 10%;font-size: 20px;" class="powered_by"><a href="https://almondvirtex.com/" target="_blank" style="color: #fff;font-weight: bold;">Powered by Almond Virtex</a></span> -->

    </div>
    <!-- <video playsinline id="video" preload="" ng-show="showvideo">
        <source src="videos/STALL RENDERS.mp4" type="video/mp4">
    </video> -->
    