<style type="text/css">
    area:hover {
        cursor: pointer;
        border: none;
        outline: none;
    }
    area{
        border: none;
        outline: none;
    }
    img[usemap] {
        border: none;
        height: auto;
        max-width: 100%;
        min-width: 100%;
        width: auto;
    }
    .expo-header{
    background-color: #4a2d16;
}
.modal-title{
  display: flex;
    justify-content: flex-start;
    align-items: center;
}
.modal-title img{
  max-width: 15%;
  margin-left: 2vh;
  margin-right: 2vh;
}
.form-expo select {
    border: 2px solid#cea482;
    color: #4a2d16;
    margin-bottom: 1vh;
}
.form-expo select:focus {
    border: 2px solid#cea482;
    color: #4a2d16;
    margin-bottom: 1vh;
}
.expo-header p{
  color: white;
    margin: auto;
    margin-left: 6%;
}
.thank-you-message{
  /* display: none; */
}
    </style>
    <div ng-hide="showvideo" style="position: relative;">
        <img class="rwdimgmap img-fluid" src="https://d3daqnblwo9fae.cloudfront.net/Fresh.jpg" usemap="#powerpuffgirlsnew" alt="" />
        <map name="powerpuffgirlsnew">
            <area target="" alt="Chat" title="Chat" data-toggle="modal" data-target="#exampleModal6" coords="53,109,53,204,469,211,473,116" shape="poly">
            <area target="" alt="Video Conf" title="Video Conf" data-toggle="modal" data-target="#exampleModal6" coords="53,241,51,331,462,331,464,238" shape="poly">
            <area target="" alt="Videos" title="Videos" data-toggle="modal" data-target="#videosModal"  coords="56,361,56,456,464,461,473,359" shape="poly">
            <area target="" alt="Brochures" title="Brochures" data-toggle="modal" data-target="#brochureModal" coords="51,486,53,586,462,590,476,495" shape="poly">
            <area target="" alt="Games" title="Games" ng-click="gametracking()" data-toggle="modal" data-target="#gameModal2" coords="2113,109,2106,202,2533,211,2535,109" shape="poly">
            <area target="" alt="Links" title="Links" data-toggle="modal" data-target="#linksModal" coords="2106,238,2108,331,2523,329,2533,234" shape="poly">
            <area target="" alt="Join Demos" title="Join Demos" data-toggle="modal" data-target="#exampleModal6" coords="2110,366,2113,459,2533,463,2535,363" shape="poly">
            <area target="" alt="Form" title="Form" data-toggle="modal" data-target="#exampleModal6"coords="2110,486,2110,583,2526,593,2530,481" shape="poly">
            <area target="" alt="FAQ" title="FAQ" data-toggle="modal" data-target="#faqModal" coords="2108,608,2106,702,2537,711,2537,602" shape="poly">
            <!-- <area target="blank" alt="brochure1" title="brochure1" href="images/docs/1. IFCAI/IBS AACSB Accr Ad.pdf" coords="201,713,196,790,432,795,408,711" shape="poly">
            <area target="blank" alt="brochure2" title="brochure2" href="images/docs/1. IFCAI/IBS Case Studies brochure.pdf" coords="201,822,190,897,426,901,432,820" shape="poly">
            <area target="blank" alt="brochure3" title="brochure3" href="images/docs/1. IFCAI/IBSAT 2 folder 2021 - updated.pdf" coords="630,929,635,1040,957,1044,952,924" shape="poly">
            <area target="blank" alt="brochure4" title="brochure4" href="images/docs/1. IFCAI/IBSAT-flyer2021 - updated.pdf" coords="2174,713,2174,808,2401,801,2403,697" shape="poly">
            <area target="blank" alt="brochure5" title="brochure5" href="images/docs/1. IFCAI/Icfai Group Profile Flyer 2020.pdf" coords="2178,820,2181,904,2412,901,2390,815" shape="poly">
            <area target="" alt="video" title="video"  ng-click="myTrigger('video')" coords="1509,819,1502,919,1806,933,1806,817" shape="poly"> -->
            
        </map>
        <div class="back-button">
            <button ui-sref="expo" class="back-btn"><i class="fas fa-arrow-circle-left"></i> &nbsp;<span>Back</span></button>
        </div>
        <div class="expo-msg-box">
            <p>{{booth_message}}</p>
         </div>
    </div>
    <div class="lightbox" ng-if="popupvideo" id="lightbox-1">
        <div class="video-pop-box">
        <iframe src="brochures/freshworks/Video1_Freshdesk Omnichannel Analytics.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a class="lightbox__close" ng-click="closePopup()"> <img id="close-card" src="images/close-Copy.svg"></a>
    </div>
    </div>
    <div class="lightbox" ng-if="popupvideo2" id="lightbox-1">
        <div class="video-pop-box">
        <iframe src="brochures/freshworks/Video2_Let your customers message you _ Freshchat.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a class="lightbox__close" ng-click="closePopup()"> <img id="close-card" src="images/close-Copy.svg"></a>
    </div>
    </div>
    <div class="lightbox" ng-if="popupvideo3" id="lightbox-1">
      <div class="video-pop-box">
      <iframe src="brochures/freshworks/Video3_Introducing Freddy AI for CX!.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <a class="lightbox__close" ng-click="closePopup()"> <img id="close-card" src="images/close-Copy.svg"></a>
  </div>
  </div>
    
        <!-- video-modal -->
        <div class="modal fade" id="videosModal" tabindex="-1" role="dialog" aria-labelledby="videosModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header  expo-header">
                  <h5 class="modal-title" id="VideoModalLabel">Videos List</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                    <div id="modalVideoBody" class="modal-body">
                        <div class="videos">
                            <ul class="videos-list">
                              <a ng-click="myTrigger('video')"><li>Freshdesk Omnichannel Analytics</li></a>
                              <a ng-click="myTrigger('video2')"><li>Freshchat Video</li></a>
                              <a ng-click="myTrigger('video3')"><li>Introducing Freddy AI for CX</li></a>
                              <!-- <a href=""><li>video 4</li></a>
                              <a href=""><li>video 5</li></a>
                              <a href=""><li>video 6</li></a> -->
                            </ul>
                        </div>
                      </div>
              </div>
            </div>
          </div>
    
          <!-- brochure-modal -->
          <div class="modal fade" id="brochureModal" tabindex="-1" role="dialog" aria-labelledby="brochureModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header expo-header">
                  <h5 class="modal-title" id="brochureModalLabel">Brochures List</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                    <div id="modalbrochureBody" class="modal-body">
                        <div class="videos">
                            <ul class="videos-list">
                              <a href="brochures/freshworks/Brochure- Freshworks 360 (1).pdf" target="blank" ng-click="brochurePoints()"><li>Brochure- Freshworks 360</li></a>
                              <!-- <a href=""><li>brochure 2</li></a>
                              <a href=""><li>brochure 3</li></a>
                              <a href=""><li>brochure 4</li></a>
                              <a href=""><li>brochure 5</li></a>
                              <a href=""><li>brochure 6</li></a> -->
                            </ul>
                        </div>
                      </div>
              </div>
            </div>
          </div>

              <!-- links modal -->
    <div class="modal fade" id="linksModal" tabindex="-1" role="dialog" aria-labelledby="linksModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header expo-header">
              <h5 class="modal-title" id="linksModalLabel">Links List</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
                <div id="modallinksBody" class="modal-body">
                    <div class="videos">
                        <ul class="videos-list">
                          <a href="https://content-fw.freshworks.com/channel-webinars/reimagine-your-online-marketing-campaigns-with-a-marketing-focused-crm?source=cloudbazaar" target="blank"><li>Webinar: Reimagining your Online Marketing Campaigns</li></a>
                          <a href="https://www.freshworks.com/channel-webinars/the-greater-good-will-cx-be-the-north-star-in-2021/?source=cloudbazaar" target="blank"><li>Webinar: Will CX be the North Star in 2021?</li></a>
                          <a href="https://www.freshworks.com/channel-webinars/sign-up-for-free-demo-cloudbaz/?source=cloudbazaar" target="blank"><li>Signup for a Free Demo</li></a>
                          <!-- <a href=""><li>social media 3</li></a>
                          <a href=""><li>social media 4</li></a> -->
                        </ul>
                    </div>
                  </div>
          </div>
        </div>
      </div>

      
          <!-- links modal -->
          <div class="modal fade" id="demosModal" tabindex="-1" role="dialog" aria-labelledby="demosModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header expo-header">
                  <h5 class="modal-title" id="demosModalLabel">Demos</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                    <div id="modaldemosBody" class="modal-body">
                      <iframe id="demo-iframe" allow="camera; microphone; fullscreen; display-capture" src=""  class="accordion" frameborder="0"></iframe>
                    </div>
              </div>
            </div>
          </div>
    
          <div class="modal fade" id="demosModal2" tabindex="-1" role="dialog" aria-labelledby="demosModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header expo-header">
                  <h5 class="modal-title" id="demosModalLabel">Demos</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                    <div id="modaldemosBody2" class="modal-body">
                      <div class="videos">
                        <ul class="videos-list">
                          <li onclick="open_demoFresh()">11th Dec, 12 pm - Watch the Freshdesk Omnichannel 2020 in action and learn how it can benefit your business</li>
                          <li onclick="open_demoFresh()">11th Dec, 4 pm - Reach more customers & make your business grow with Freshchat & Whatsapp Integration</li>
                          <li onclick="open_demoFresh()">12th Dec, 12 pm - Reach more customers & make your business grow with Freshchat & Whatsapp Integration</li>
                          <li onclick="open_demoFresh()">12th Dec, 4 pm - Watch the Freshdesk Omnichannel 2020 in action and learn how it can benefit your business</li>

                        </ul>
                    </div>
                      </div>
              </div>
            </div>
          </div>

              <!-- faq modal -->
    <div class="modal fade" id="faqModal" tabindex="-1" role="dialog" aria-labelledby="faqModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header expo-header">
              <h5 class="modal-title" id="faqModalLabel">FAQ</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal(this)">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
                <div id="modalfaqBody" class="modal-body">
                   <iframe src="https://cloudbazaar.virtex.in/faq-freshworks.html" frameborder="0"></iframe>
                  </div>
          </div>
        </div>
      </div>

         <!-- form modal -->
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header expo-header">
              <h5 class="modal-title" id="formModalLabel">Form</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
                <div id="modalformBody" class="modal-body">
                  <form ng-submit="submitFeedback(feedback)">
                    <div class="container-fluid form-expo">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-12">
                              <select name="select" id="select" class="form-control" ng-model="feedback.interest">
                                <option selected hidden value="">Interested in: </option>
                                <option value="1">Customer Experience- Helpdesks & Chatbots</option>
                                <option value="2">Employee Experience- ITSM software</option>
                                <option value="3">Marketing & Sales improvement- CRM & CROs</option>
                            </select>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-12">
                              <select name="select1" id="select1" onchange="show_pfield(this)" class="form-control" ng-model="feedback.opt_demo">
                                <option selected hidden value="">Opted for Demo: </option>
                                <option value="1" >Yes</option>
                                <option value="2">No</option>
                            </select>
                            </div>
                        </div>
                        <div class="row justify-content-center" id="pfield">
                            <div class="col-12 col-lg-12">
                                <input type="text" id="product" name="text-input" placeholder="Enter Product Name" class="form-control" ng-model="feedback.product">
                            </div>
                        </div>
                         <!-- <div class="row justify-content-center">
                            <div class="col-12 col-lg-12">
                                <textarea id="text-input" name="text-input" placeholder="Comment" class="form-control"></textarea>
                            </div>
                        </div> -->
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-12" style="text-align: center;">
                               <button class="form-button" type="submit">Submit</button>
                            </div>
                        </div>
                      </form>
                      <div class="thank-you-message" ng-if="form_thank_you">
                        <h3>Thank You!</h3>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
      </div>

                   <!-- games modal -->
    <!-- <div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="gameModalLabel" aria-hidden="true">
      <div style="margin-top: 2%;" class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header expo-header">
            <h5 class="modal-title" id="gameModalLabel">Go Bowling with<img src="images/fresh-logo.png"><span style="font-size: 10px; margin-left: 1vh;">(Instructions for desktop users: use mouse for navigation)</span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
              <div id="modalgameBody" class="modal-body">
                 <iframe id="myFrame" class="accordion" frameborder="0"></iframe>
                </div>
        </div>
      </div>
    </div> -->

    <div class="modal fade" id="gameModal2" tabindex="-1" role="dialog" aria-labelledby="gameModalLabel" aria-hidden="true">
      <div style="margin-top: 2%;" class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header expo-header">
            <h5 class="modal-title" id="gameModalLabel"><img src="images/fresh-logo.png"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
              <div id="modalgameBody2" class="modal-body">
                <h2>Instructions</h2>
                <ol>
                  <li>Use mouse for navigation</li>
                  <li>You have only 5 chances</li>
                </ol>
                <button type="button" class="game-btn" onclick="open_gameFresh()">Play Game</button>
                </div>
        </div>
      </div>
    </div>

    <!-- onclick="open_gameBlue()" -->

    <div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="gameModalLabel" aria-hidden="true">
      <div style="margin-top: 2%;" class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header expo-header">
            <h5 class="modal-title" id="gameModalLabel">Go Bowling with<img src="images/fresh-logo.png"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal(this)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
              <div id="modalgameBody" class="modal-body">
                 <iframe id="myFrame" class="accordion" frameborder="0"></iframe>
                </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <p>"Thank you for visiting us, the event is over now."</p>   
          </div>
        </div>
      </div>
    </div>