<style>
    a{
        text-decoration: none;
        color:#2c3242;
    }
</style>
<div id="container8">
    
    <div id="support2">
        <!-- <h3>Proudly Supported By</h3> -->
        <!-- <br> -->
        <div id="box2">
            <a ng-click="popupvideo = 1">
                <!-- <img id="img3" src="images/aws-c.png"> -->
                <i class="fas fa-bullhorn"></i>
                <br><br>
                <h2>Session 1</h2>
            </a>
            <br><br>
        </div>
        <div id="box2">
            <a href="https://www.atechnos.com/privacy-policy-atechnos.pdf" download="" target="_blank">
                <!-- <img id="img3" src="images/hostgator.png"> -->
                <i class="fas fa-file"></i>
                <br><br>
                <h2>Document 1</h2>
            </a>
            <br><br>
        </div>
        <div id="box2">
            <a href="https://virtex.almond.solutions" target="_blank">
                <!-- <img id="img3" src="images/bigrock.png"> -->
                <i class="fas fa-play"></i>
                <br><br>
                <h2>Video 1</h2>
            </a>
            <br><br>
        </div>
        
    </div>
    <div id="support2">
        <!-- <h3>Proudly Supported By</h3> -->
        <!-- <br> -->
        <div id="box2">
            <a ng-click="popupvideo = 1">
                <!-- <img id="img3" src="images/aws-c.png"> -->
                <i class="fas fa-bullhorn"></i>
                <br><br>
                <h2>Session 2</h2>
            </a>
            <br><br>
        </div>
        <div id="box2">
            <a href="https://www.atechnos.com/privacy-policy-atechnos.pdf" download="" target="_blank">
                <!-- <img id="img3" src="images/hostgator.png"> -->
                <i class="fas fa-file"></i>
                <br><br>
                <h2>Document 2</h2>
            </a>
            <br><br>
        </div>
        <div id="box2">
            <a href="https://virtex.almond.solutions" target="_blank">
                <!-- <img id="img3" src="images/bigrock.png"> -->
                <i class="fas fa-play"></i>
                <br><br>
                <h2>Video 2</h2>
            </a>
            <br><br>
        </div>
        
    </div>
    <div id="support2">
        <!-- <h3>Proudly Supported By</h3> -->
        <!-- <br> -->
        <div id="box2">
            <a ng-click="popupvideo = 1">
                <!-- <img id="img3" src="images/aws-c.png"> -->
                <i class="fas fa-bullhorn"></i>
                <br><br>
                <h2>Session 3</h2>
            </a>
            <br><br>
        </div>
        <div id="box2">
            <a href="https://www.atechnos.com/privacy-policy-atechnos.pdf" download="" target="_blank">
                <!-- <img id="img3" src="images/hostgator.png"> -->
                <i class="fas fa-file"></i>
                <br><br>
                <h2>Document 3</h2>
            </a>
            <br><br>
        </div>
        <div id="box2">
            <a href="https://virtex.almond.solutions" target="_blank">
                <!-- <img id="img3" src="images/bigrock.png"> -->
                <i class="fas fa-play"></i>
                <br><br>
                <h2>Video 3</h2>
            </a>
            <br><br>
        </div>
        
    </div>
    <div id="support2">
        <!-- <h3>Proudly Supported By</h3> -->
        <!-- <br> -->
        <div id="box2">
            <a ng-click="popupvideo = 1">
                <!-- <img id="img3" src="images/aws-c.png"> -->
                <i class="fas fa-bullhorn"></i>
                <br><br>
                <h2>Session 4</h2>
            </a>
            <br><br>
        </div>
        <div id="box2">
            <a href="https://www.atechnos.com/privacy-policy-atechnos.pdf" download="" target="_blank">
                <!-- <img id="img3" src="images/hostgator.png"> -->
                <i class="fas fa-file"></i>
                <br><br>
                <h2>Document 4</h2>
            </a>
            <br><br>
        </div>
        <div id="box2">
            <a href="https://virtex.almond.solutions" target="_blank">
                <!-- <img id="img3" src="images/bigrock.png"> -->
                <i class="fas fa-play"></i>
                <br><br>
                <h2>Video 4</h2>
            </a>
            <br><br>
        </div>
        
    </div>
</div>
<div class="lightbox" ng-if="popupvideo" id="lightbox-1">
    <iframe src="https://www.youtube.com/embed/Q4VGQPk2Dl8?autoplay=true" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a class="lightbox__close" ng-click="closePopup()"><img src="images/criss-cross.svg"></a>
</div>