<style>
    .leader-box{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        left: 0;
        right: 0;
        margin-top: 14%;
        height: 70vh;
        overflow: hidden;
        overflow-y: scroll;
        padding: 20px;
        color: white;
    }
    .gamification{
        font-size: 33px;
        font-weight: 600;
    }
    .gamification{
        font-size: 33px;
        font-weight: 600;
    }
    ul{
        margin-top: 5vh;
        font-size: 18px;
    }
    li{
        list-style: disc;
        line-height: 30px;
    }
</style>
<div id="container9">
    <div class="leader-box">
        <div class="gamification"><h3>Gamification</h3></div>
        <ul>
            <li>Visit the platform and earn 30 reward points! </li>
            <li>Visit the lobby and earn 30 reward ponts!</li>
            <li>Listen to the keynote sessions and earn up to 850 points! </li>
            <li>Listen to the Breakout sessions and earn up to 400 points!</li>
            <li>Listen to the Avaya Alliances session and earn up to 200 reward points!</li>
            <li>Listen to Sri Gaur Gopal Das speak and earn 100 reward points!</li>
            <li>Network with Avaya team and sponsors and stand a chance to win the Lucky Draw Contest!</li>
            <li>Earn 20 points by simply entering the Expo Hall!</li>
            <li>Visit the 4 Avaya Booths and earn up to 3240 reward points! Leave a product review and win an Avaya Headset or B109!</li>
            <li>Visit the Google and Microsoft Booths to earn 1,740 reward points! </li>
            <li>Visit the Avaya Alliance and Association Booths to win 6120 reward points! </li>
            <li>Don't forget to attend the 15 minutes session at the Avaya booth and earn 200 reward points!  </li>
            <li>The first 100 Early Bird attendees win 100 reward points! </li>
            <li>For every hour that you spend at the event you earn 1000 reward points! </li>
        </ul>
</table>
</div>
</div>