<style type="text/css">
    area:hover {
        cursor: pointer;
    }
    img[usemap] {
        border: none;
        height: auto;
        max-width: 100%;
        min-width: 100%;
        width: auto;
    }
    /* resource */
    .resource-main{   
        background-color: black;
        width: 30%;
        height: 40%;
        top: 30%;
        display: none;
        flex-direction: column;
        padding-top: 1vh;
        padding-bottom: 1vh;
        position: absolute;
        left: 35%;
        border-radius: 8px;
    }
    .close-data{
        width: 3vh;
        position: absolute;
        top: 1vh;
        right: 1vh;
        cursor: pointer;
    }
    .resource-box{
        display: flex;
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
    }
    .resource-box ul{
        color: white;
        width: 100%;
    }
    .resource-box ul li{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        padding: 2vh;
        cursor: pointer;
    }
    .resource-box span{
        font-size: 20px;
        font-weight: 600;
    }
    .heading{
        text-align: center;
        width: 100%;
        padding-bottom: 2vh;
        color: white;
    }
    .heading h1{
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: underline;
    }

    /* video */
    .video-main{   
        background-color: black;
        width: 30%;
        height: 40%;
        top: 30%;
        display: none;
        flex-direction: column;
        padding-top: 1vh;
        padding-bottom: 1vh;
        position: absolute;
        left: 35%;
        border-radius: 8px;
    }
    .video-box{
        display: flex;
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
    }
    .video-box ul{
        color: white;
        width: 100%;
    }
    .video-box ul li{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        padding: 2vh;
        cursor: pointer;
    }
    .video-box span{
        font-size: 20px;
        font-weight: 600;
    }

    /* brochure */
    .brochure-main{   
        background-color: black;
        width: 30%;
        height: 40%;
        top: 30%;
        display: none;
        flex-direction: column;
        padding-top: 1vh;
        padding-bottom: 1vh;
        position: absolute;
        left: 35%;
        border-radius: 8px;
    }
    .brochure-box{
        display: flex;
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
    }
    .brochure-box ul{
        color: white;
        width: 100%;
    }
    .brochure-box ul li{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        padding: 2vh;
        cursor: pointer;
    }
    .brochure-box span{
        font-size: 20px;
        font-weight: 600;
    }
    .modal-dialog{
      margin-top: 10%;
    }
    iframe{
      width: 100%;
      max-height: 56vh;
      min-height: 56vh;
    }
    a{
      text-decoration: none !important;
      color: white;
    }
    .text{
      width: 85%;
    /* text-overflow: ellipsis; */
    word-break: break-word;
    }
        .company-name{
    text-align: center;
    width: 100%;
    background-color: rgb(210 210 208);
    padding: 1vh;

}
.company-name h1{
    font-size: 18px;
    font-weight: 700;
}
.chat-pop{
        background-color: white;
        height: 45vh;
        width: 21%;
        z-index: 999999;
        position: absolute;
        bottom: 40%;
        border-radius: 8px;
        right: 5vh;
        display: block;
    }
    .message-container{
        height: 90%;
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
        background-color: white;
        padding:1vh;
        
    }
    .close-chat-expo{
        position: absolute;
        top: -1vh;
        right: -1vh;
        width: 3vh;
        cursor: pointer;
    }
    .name-time{
        display: flex;
        justify-content: space-between;
    }
    .expo-name{
        margin-right: 3vh;
    }
    .expo-chat{
        margin-bottom: 2vh;
    }
    .expo-message{
        color: #7c7c7c;
    }
    </style>
    <div ng-hide="showvideo" style="position: relative;">
        <img class="rwdimgmap img-fluid" src="images/stalls/Alliance Booth 2_Gnani_Booth.jpg" usemap="#powerpuffgirlsnew" alt="" />
        <map name="powerpuffgirlsnew">
            <area target="" alt="resources" title="resources" onclick="resources()"   coords="905,624,905,774,1173,783,1170,624" shape="poly">
            <area target="" alt="video" title="video" onclick="boothvideo()"  coords="1584,622,1581,774,1849,772,1854,624" shape="poly">
            <area target="" alt="chat" title="chat" ng-click="showchatWithUs()" coords="1322,908,1322,988,1465,988,1463,908" shape="poly">
            <area target="" alt="brochure" title="brochure" onclick="boothbrochure()" coords="317,779,314,913,560,913,566,779" shape="poly">
        </map>
        <div class="chat-pop" ng-show="chatwithuspopup">
        <img class="close-chat-expo" src="images/criss-cross.svg" ng-click="hidechatWithUs()">
        <div class="company-name">
            <h1 id="">Gnani AI</h1>
            </div>
        <div class="message-container">          
            
        </div>
        <div id="chat-msg" >
            <div id="input-icon-chat">
          <i id="input-icon" class="fas fa-paper-plane" ng-click="sendMessage(message)"></i>
          </div>
          <input style="border: none;outline-style: none;" ng-model="message" ng-keypress="($event.charCode==13)? sendMessage(message) : return"  class="chat-input" id="chat-input-text1" type="text" placeholder="Start Typing..." autofocus>
        </div>
    </div>
    </div>
      
    <div class="resource-main">
       <div class="heading">
           <h1>Resources</h1>
       </div>
        <img src="images/criss-cross.svg" onclick="close_data()" class="close-data">
        <div class="resource-box">
            <ul>
                <li><a href="videos/Gnani/Gnani_Solution_Brochure.pdf" target="blank"><span class="text">Gnani Solution Brochure</span> <span><i class="fas fa-file-pdf"></i></span></a></li>
                <li ng-click="showVideoSolution('https://player.vimeo.com/video/471969231?autoplay=1')" ><span class="text">Gnani Avaya Integration</span><span><i class="far fa-play-circle"></i></span></li>
                <li ng-click="showVideoSolution('https://player.vimeo.com/video/471969881?autoplay=1')" ><span class="text">Gnani Company Video</span><span><i class="far fa-play-circle"></i></span></li>
                <li ng-click="showVideoSolution('https://player.vimeo.com/video/471970880?autoplay=1')" ><span class="text">Gnani_Omnichannel_Analytics</span><span><i class="far fa-play-circle"></i></span></li>
            </ul>
        </div>
    </div>
    <div class="video-main">
        <div class="heading">
            <h1>Videos</h1>
        </div>
         <img src="images/criss-cross.svg" onclick="close_data()" class="close-data">
         <div class="video-box">
             <ul>
                <li ng-click="showVideoSolution('https://player.vimeo.com/video/471969231?autoplay=1')" data-category="video_play" data-label="Gnani Avaya Integration" data-value="Videos" listen><span class="text">Gnani Avaya Integration</span><span><i class="far fa-play-circle"></i></span></li>
                <li ng-click="showVideoSolution('https://player.vimeo.com/video/471969881?autoplay=1')" data-category="video_play" data-label="Gnani Company Video" data-value="Videos" listen><span class="text">Gnani Company Video</span><span><i class="far fa-play-circle"></i></span></li>
                <li ng-click="showVideoSolution('https://player.vimeo.com/video/471970880?autoplay=1')" data-category="video_play" data-label="Gnani_Omnichannel_Analytics" data-value="Videos" listen><span class="text">Gnani_Omnichannel_Analytics</span><span><i class="far fa-play-circle"></i></span></li>
             </ul>
         </div>
     </div>
     <div class="brochure-main">
        <div class="heading">
            <h1>Brochures</h1>
        </div>
         <img src="images/criss-cross.svg" onclick="close_data()" class="close-data">
         <div class="brochure-box">
             <ul>
                <a ng-click="broucherDownload('videos/Gnani/Gnani_Solution_Brochure.pdf')" data-category="pdf_download" data-label="Gnani Solution Brochure" data-value="Brochure" listen><li><span class="text">Gnani Solution Brochure</span><span><i class="fas fa-file-pdf"></i></span></li></a>

              

             </ul>
         </div>
     </div>
     <div class="lightbox reception_video" ng-if="popupVideoSolution"  ng-init="startVideo()" id="lightbox-1">
        <div class="video-pop-box">
            <iframe ng-src="{{currentpopupvideo}}" id="popupVideoSolution" frameborder="0" allow="autoplay; fullscreen"></iframe>
            <a class="lightbox__close" ng-click="hideVideoSolution()"><img src="images/close.svg"></a>
        </div>
    </div> 
     <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            
            <button type="button" class="close video_close" onclick="closeModal()">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body video_body">
           <!-- <iframe src=""></iframe> -->
          </div>
          
          
        </div>
      </div>
    </div>
    
  