<style type="text/css">
    area:hover {
        cursor: pointer;
    }
    
    img[usemap] {
        border: none;
        height: auto;
        max-width: 100%;
        min-width: 100%;
        width: auto;
    }
    
    </style>
    <div ng-hide="showvideo">
        <img class="rwdimgmap" src="images/Registration Desk.jpg" usemap="#powerpuffgirls" alt="" />
        <map name="powerpuffgirls">
            <area target="" alt="chat" title="chat" ui-sref="help-desk-chat" coords="828,751,828,826,957,824,957,751" shape="poly">
            <area target="" alt="agenda" title="agenda" ui-sref="agenda" coords="1595,751,1595,826,1724,829,1727,749" shape="poly">
        </map>
        </map>
    </div>
   
    