<!-- <div id="container1">  
    <div id="header-31">
        <div class="head ider-text21">
            <div id="logo-31">
                <img id="img-41" src="images/logo.png">
            </div>
            <div id="header-para-main1">
                <p id="para-header1">Almond<span id="para-header21">Hosted by Almond</span></p>
            </div>
        </div>
        <div id="time21">
            <p class="pt1">Time Left</p>
            <p class="pt2">1h:2m</p>
            <div class="progress" style="height: 4px;"> 
                <div class="progress-bar"></div>
            </div>
        </div>
    </div>
    <div class="header-banner">
        <img id="img-2" src="images/img1.jpg">
    </div>
    <div class="header-text">
        <div id="logo-2">
            <img id="img-3" src="images/logo.png">
        </div>
        <div id="header-para-main">
            <p id="para-header">Almond<span id="para-header2">Hosted by Almond</span></p>
        </div>
    </div>
    <div id="time1">
        <p class="pt1">Time Left</p>
        <p class="pt2">1h:2m</p>
        <div class="progress" style="height: 4px;">
            <div class="progress-bar"></div>
        </div>
    </div>
    <div class="header-text-2">
        <p id="para-header3">What's happening now</p>
        <div id="black-box">
            <div id="black-box-img">
                <img id="b-img" src="images/happening-now-session.png">
            </div>
            <div id="black-box-button">
                <button id="btn1">Go to Stage</button>

            </div>
        </div>
    </div>
    <br class="br-1">
    <div id="content1">
        <div id="content-d-1">
            <p id="content-para-1">Description</p>
            <p>Welcome! We are glad you are here. If this is your first joining, please say hello in the chat
</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam natus voluptate rerum molestiae maiores, illum molestias, eaque deleniti temporibus odit reprehenderit assumenda pariatur consequuntur, consequatur quis ullam id doloremque similique.</p>
</div>
</div>
<br class="br-1"><br class="br-1">
<div id="support">
    <h3>Proudly Supported By</h3>
    <br>
    <div id="box2">
        <a href="#">
            <img id="img3" src="images/aws.png">
        </a>
        <br><br>
    </div>
</div>
</div> -->
