<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div id="container-4" class="col-xs-12">
                <img class="logo" src="images/logo.png">
                <h2 id="logo-heading">Almond VirtEX</h2>
                <br><br>
            </div>
            <div class="col-xs-12">
                <h5 class="heading">HYGIENE CHECKLIST:</h5>
                <ul>
                    <li>All attendees will be on mute.</li>
                    <li>Please post your questions on the Q&A window only.<br>
                        These will be addressed during our Q&A time.</li>
                    <li>Please post any support query or any technichal issue faced on the Q&A window only. We will try to solve it as soon as possible.</li>
                    <li>A link of the session recording will be sent to you after the event</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="col-xs-12">
                <h2 id="heading-time">00:00</h2>
            </div>
        </div>
    </div>
