<!--Start of Tawk.to Script-->
<script type="text/javascript">
    // 
    // location.reload();
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date(); Tawk_API.embedded='tawk_5fed6943df060f156a928b27';
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=false;
        s1.src='https://embed.tawk.to/5fed6943df060f156a928b27/1eqrm7bt1';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();  
    </script>
    <!--End of Tawk.to Script-->
    
    <style>
        #container-support{
            width: 100%;
            height: 90vh;
            justify-content: center;
            align-items: center;
        }
        .tawk-to {
    
        /* margin: auto;
        padding: 12vh 30vh 25vh 30vh;
        height: 100vh;
        position: relative; */

        margin: 35px auto;
        /* padding: 12vh 30vh 25vh 30vh; */
        height: 60vh;
        position: relative;
        width: 50%;
        border: 1px solid #335089;
    }
        .image{
            position: absolute;
            top: 6vh;
        right: 13vh;
            
        }
        .image img{
            width: 15vh;
        }
        .page-header{
            /* padding: 2vh; */
            /* background: url(images/aima-strip.jpg); */
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: auto;
        }
        .logo1{
            width: 14%;
        }
        .logo2{
            width: 8%;
        }
        .page-header h1{
            font-size: 37px;
        font-weight: 700;
        color: white;
        margin-left: -10vh;
        }
        @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape) {
        .page-header h1 {
        font-size: 20px !important;
        font-weight: 700;
        color: #254e8b;
        margin-left: 0vh;
    
    }
    }
        </style>
        <div class="page-header">
          <img src="images/Invest-India-Banner-5991-x-817.png">
            <!-- <h1>HELPDESK</h1>    -->
           
        </div>
    <div id="container-support">
        
        <div id='tawk_5fed6943df060f156a928b27'  class="tawk-to"></div>
        
    
    </div>