<div id="container9">
    <div class="leader-box">
<table>
    <thead>
        <tr>
            <th id="th-small">S.no</th>
            <th id="name-left">Name</th>
            <th id="th-small">Points</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="serial-no" data-column="S.no">1</td>
            <td id="table-name" data-column="Name">
                <div class="leader-image">
                    <img src="images/user.svg">
                </div>
                <div class="leader-name">
                    <div class="leader-name-txt">
                        Garrett Winters	
                    </div>
                    <div class="leader-name-desig">
                        System Architect
                    </div>
                </div>
            </td>
            <td id="points" data-column="Points">1200</td>
        </tr>
        <tr>
            <td data-column="S.no">2</td>
            <td id="table-name" data-column="Name">
                <div class="leader-image">
                    <img src="images/user.svg">
                </div>
                <div class="leader-name">
                    <div class="leader-name-txt">
                        Kunal Kalra
                                        </div>
                    <div class="leader-name-desig">
                        ATechnos, Manager
                    </div>
                </div>
            </td>    
                <td data-column="Points">950</td>
        </tr>
        <tr>
            <td data-column="S.no">3</td>
            <td id="table-name" data-column="Name">
                <div class="leader-image">
                    <img src="images/user.svg">
                </div>
                <div class="leader-name">
                    <div class="leader-name-txt">
                        Anuvrat Bhansali
                    </div>
                    <div class="leader-name-desig">
                        ATechnos, Director
                    </div>
                </div>
            </td>
            <td data-column="Points">900</td>
        </tr>
        <tr>
            <td data-column="S.no">4</td>
            <td id="table-name" data-column="Name">
                <div class="leader-image">
                    <img src="images/user.svg">
                </div>
                <div class="leader-name">
                    <div class="leader-name-txt">
                        Tiger Nixon
                    </div>
                    <div class="leader-name-desig">
                        Accountant
                    </div>
                </div>
            </td>
            <td data-column="Points">850</td>
        </tr>
        <tr>
            <td data-column="S.no">5</td>
            <td id="table-name" data-column="Name">
                <div class="leader-image">
                    <img src="images/user.svg">
                </div>
                <div class="leader-name">
                    <div class="leader-name-txt">
                        Ashton Cox	
                    </div>
                    <div class="leader-name-desig">
                        Junior Technical Author
                    </div>
                </div>
            </td>
            <td data-column="Points">800</td>
        </tr>
        <tr>
            <td data-column="S.no">6</td>
            <td id="table-name" data-column="Name">
                <div class="leader-image">
                    <img src="images/user.svg">
                </div>
                <div class="leader-name">
                    <div class="leader-name-txt">
                        Cedric Kelly	
                    </div>
                    <div class="leader-name-desig">
                        Senior Javascript Developer	
                    </div>
                </div>
            </td>
            <td data-column="Points">750</td>
        </tr>
        <tr>
            <td data-column="S.no">7</td>
            <td id="table-name" data-column="Name">
                <div class="leader-image">
                    <img src="images/user.svg">
                </div>
                <div class="leader-name">
                    <div class="leader-name-txt">
                        राहुल तिवारी
                    </div>
                    <div class="leader-name-desig">
                        डेवलपर
                    </div>
                </div>
            </td>
            <td data-column="Points">700</td>
        </tr>
        <tr>
            <td data-column="S.no">8</td>
            <td id="table-name" data-column="Name">
                <div class="leader-image">
                    <img src="images/user.svg">
                </div>
                <div class="leader-name">
                    <div class="leader-name-txt">
                        Jennifer Anniston
                    </div>
                    <div class="leader-name-desig">
                        Marketting
                    </div>
                </div>
            </td>
            <td data-column="Points">650</td>
        </tr>
        <tr>
            <td data-column="S.no">9</td>
            <td id="table-name" data-column="Name">
                <div class="leader-image">
                    <img src="images/user.svg">
                </div>
                <div class="leader-name">
                    <div class="leader-name-txt">
                        Airi Satou
                    </div>
                    <div class="leader-name-desig">
                        Accountant
                    </div>
                </div>
            </td>
            <td data-column="Points">600</td>
        </tr>
        <tr>
            <td data-column="S.no">10</td>
            <td id="table-name" data-column="Name">
                <div class="leader-image">
                    <img src="images/user.svg">
                </div>
                <div class="leader-name">
                    <div class="leader-name-txt">
                        Brielle Williamson
                    </div>
                    <div class="leader-name-desig">
                        Integration Specialist
                    </div>
                </div>
            </td>
            <td data-column="Points">550</td>
        </tr>
    </tbody>
</table>
</div>
</div>

<!-- <style>
    .points-btn{
        position: absolute;
    top: 1%;
    right: 1%;
    color: white;
    border: none;
    outline: none;
    background-color: #132f42;
    padding: 1vh;
    border-radius: 6px;
    }
    #container9{
    
    }
</style>

<div id="container9">
    <button type="button" class="points-btn" ui-sref="points">Points Distribution</button>
    <div class="leader-box">
<table>
    <thead>
        <tr>
            <th id="th-small">S.no</th>
            <th id="name-left">Name</th>
            <th id="th-small">Points</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-if="leaderboard.length > 0" ng-repeat="board in leaderboard">
            <td id="serial-no" data-column="S.no">{{$index + 1}}</td>
            <td id="table-name" data-column="Name">
               
                <div class="leader-name">
                    <div class="leader-name-txt">
                        {{board.name}}
                    </div>
                    <div class="leader-name-desig">
                        {{board.designation}}
                    </div>
                </div>
            </td>
            <td id="points" data-column="Points">  {{board.current_point}}</td>
        </tr>
        <tr ng-if="leaderboard.length == 0">
            <td  colspan="3">No Data Available</td>
        </tr>
    </tbody>
</table>
</div>
</div> -->