<div class="notification">
<div class="notification-heading">
    <h1>Notification</h1>
</div>
<div class="notification-box">
    <div class="notification-chat">
        <div class="notificationchat-text">
            <a href="#"><span class="notification-chat-name">Notification</span></a>
            <span class="notification-chat-time">10:30</span>
        </div>
        <div class="notification-chat-para">
            <p>Anuvrat wants to do a video call with you</p>
        </div>
    </div>
</div>
<div class="notification-box">
    <div class="notification-chat">
        <div class="notificationchat-text">
            <a href="#"><span class="notification-chat-name">Notification</span></a>
            <span class="notification-chat-time">12:59</span>
        </div>
        <div class="notification-chat-para">
            <p>Exhibition is now open. Please visit all sponsors booths</p>
        </div>
    </div>
</div>
<div class="notification-box">
    <div class="notification-chat">
        <div class="notificationchat-text">
            <a href="#"><span class="notification-chat-name">Notification</span></a>
            <span class="notification-chat-time">4:10</span>
        </div>
        <div class="notification-chat-para">
            <p>The next session starts at 11:00 AM</p>
        </div>
    </div>
</div>
</div>