<style type="text/css">
    area:hover {
        cursor: pointer;
    }
    img[usemap] {
        border: none;
        height: auto;
        max-width: 100%;
        min-width: 100%;
        width: auto;
    }
    </style> 
    <div style="width: 100%; height:100vh;overflow-y:scroll">
        <img src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/PARTNER-WITH-FOOTER.jpg">
    </div>    
    <!-- <video playsinline id="video" preload="" ng-show="showvideo">
        <source src="videos/STALL RENDERS.mp4" type="video/mp4">
    </video> -->
    