
<style type="text/css">
    area:hover {
        cursor: pointer;
        border: none;
        outline: none;
    }
    area{
        border: none;
        outline: none;
    }
    img[usemap] {
        border: none;
        height: auto;
        max-width: 100%;
        min-width: 100%;
        width: auto;
    }
    .agenda-new{
        height: 100vh;
        overflow: hidden;
        overflow: scroll;
    }
    </style>
    <div ng-hide="showvideo" class="agenda-new">
        <img class="rwdimgmap img-fluid" src="https://d3daqnblwo9fae.cloudfront.net/partner.jpg" usemap="#powerpuffgirlsnew" alt="" />
        <map name="powerpuffgirlsnew">
            <area target="" alt="org" title="org" ui-sref="org" coords="128,134,133,355,405,351,401,131" shape="poly">
            <area target="" alt="freshworks" title="freshworks" ui-sref="fresh" coords="140,908,131,1092,810,1089,798,906" shape="poly">
            <area target="" alt="google cloud" title="Google Cloud" ui-sref="google"coords="133,1396,131,1601,545,1605,547,1396" shape="poly">
            <area target="" alt="me" title="me" ui-sref="me"  coords="116,2071,121,2288,371,2292,364,2071" shape="poly">
            <area target="" alt="nowfloats" title="NOWFLOATS" ui-sref="neo" coords="148,2836,138,2948,666,2948,666,2838" shape="poly">
            <area target="" alt="sedo" title="sedo" ui-sref="sedo"  coords="140,3133,142,3272,555,3277,557,3131" shape="poly">
            <area target="" alt="Neo Soft Technologies" title="NeoSoft Technologies" ui-sref="web" coords="135,4312,131,4453,718,4451,708,4305" shape="poly">
            <area target="" alt="reseller club" title="resellerclub" ui-sref="rc" coords="137,5014,135,5162,701,5162,696,5023" shape="poly">
            <area target="" alt="bluehost" title="bluehost" ui-sref="bluehost" coords="135,5476,130,5598,700,5598,700,5474" shape="poly">
            <area target="" alt="hostgator" title="HostGator" ui-sref="hg"  coords="147,5944,145,6081,664,6078,664,5946" shape="poly">
        </map>
    </div>
