<div style="width: 100%;height:100vh;overflow-y: scroll;text-align:center">
    <img style="width:100%;" src="../event/images/WhatsApp Image 2021-02-26 at 20.06.45.jpeg">
    <h2 style="font-size:32px;padding-top:10px;">Previous Sessions</h2>
    <!-- <iframe src='https://globalbioindiavirtual.com/table/' frameborder='0' width='100%' height='1000' style='display:block;margin:0 auto;'></iframe> -->
    <table style='width: 60%;margin-top:2%;'>
        <tr>
            <th>Session</th>
            <th>Link</th>
        </tr>
        <tr>
            <td>Inauguration of the Event/Inauguration of the Exposition</td>
            <td><a href='https://youtu.be/9h9l9dlJePg' target='_blank'><img style="width:40%" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Group-1-copy.png"></a></td>
        </tr>
        <tr>
            <td>Atmanirbhar Bharat Conclave</td>
            <td><a href='https://youtu.be/9h9l9dlJePg' target='_blank'><img style="width:40%" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Group-1-copy.png"></a></td>
        </tr>
        <tr>
            <td>India Fights COVID. The COVID 19 Vaccine Journey from Science to Delivery</td>
            <td><a href='https://youtu.be/gPZfiz63JK8' target='_blank'><img style="width:40%" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Group-1-copy.png"></a></td>
        </tr>
        <tr>
            <td>Additional Focus : mRNA Vaccine</td>
            <td><a href='https://youtu.be/xbXUR-wH7Yg' target='_blank'><img style="width:40%" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Group-1-copy.png"></a></td>
        </tr>
        <tr>
            <td>International Investors Meet Investment trends in India/Challenges & Opportunities</td>
            <td><a href='' target='_blank'><img style="width:40%" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Group-1-copy.png"></a></td>
        </tr>

        <tr>
            <td>MedTech Regulatory Workshop (by invite RIFC/E-GEM)</td>
            <td><a href='https://youtu.be/f2rwMwLZiYI' target='_blank'><img style="width:40%" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Group-1-copy.png"></a></td>
        </tr>

        <tr>
            <td>Health Conclave (MedTech, JANc)</td>
            <td><a href='https://youtu.be/-Nz1IM2yVM8' target='_blank'><img style="width:40%" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Group-1-copy.png"></a></td>
        </tr>

        <tr>
            <td>Diagnostic a success story</td>
            <td><a href='https://youtu.be/diTAJNVuS0M' target='_blank'><img style="width:40%" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Group-1-copy.png"></a></td>
        </tr>

        <tr>
            <td>CEO Round Table (by invite-Invest India)</td>
            <td><a href='' target='_blank'><img style="width:40%" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Group-1-copy.png"></a></td>
        </tr>

        <tr>
            <td>Phytopharma and Traditional Knowledge</td>
            <td><a href='https://youtu.be/fGOZbi9j09A' target='_blank'><img style="width:40%" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Group-1-copy.png"></a></td>
        </tr>

        <tr>
            <td>Startup Conclave Launch of Bioeconomy Report</td>
            <td><a href='https://youtu.be/tQsNNvdbfFc' target='_blank'><img style="width:40%" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Group-1-copy.png"></a></td>
        </tr>

        <tr>
            <td>Country Focus for Ecosystem Connect</td>
            <td><a href='https://youtu.be/bU_CpWfappY' target='_blank'><img style="width:40%" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Group-1-copy.png"></a></td>
        </tr>

        <tr>
            <td>Clean Energy Conclave Energy - Health Nexus</td>
            <td><a href='https://youtu.be/VrQt33HtREM' target='_blank'><img style="width:40%" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Group-1-copy.png"></a></td>
        </tr>

        <tr>
            <td>State Focus : Biotech Clusters</td>
            <td><a href='https://youtu.be/BE_f6Egie0E' target='_blank'><img style="width:40%" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Group-1-copy.png"></a></td>
        </tr>

        <tr>
            <td>Precision Medicine & Data Driven Life Sciences</td>
            <td><a href='' target='_blank'><img style="width:40%" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Group-1-copy.png"></a></td>
        </tr>

        <tr>
            <td>Ensuring Quality: Overcoming CART Cells CMC Challenges</td>
            <td><a href='https://youtu.be/-rOENoupqyE' target='_blank'><img style="width:40%" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Group-1-copy.png"></a></td>
        </tr>

        <tr>
            <td>First Hub</td>
            <td><a href='' target='_blank'><img style="width:40%" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Group-1-copy.png"></a></td>
        </tr>

        <tr>
            <td>Women Entrepreneurs Conclave</td>
            <td><a href='https://youtu.be/XFy7CasaXEU' target='_blank'><img style="width:40%" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Group-1-copy.png"></a></td>
        </tr>

        <tr>
            <td>Blue Economy</td>
            <td><a href='https://youtu.be/IVN23ixGQiA' target='_blank'><img style="width:40%" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Group-1-copy.png"></a></td>
        </tr>
    </table>
</div>    