<style type="text/css">


    area:hover {
        cursor: pointer;
    }
    
    img[usemap] {
        border: none;
        height: auto;
        max-width: 100%;
        min-width: 100%;
        width: auto;
    }
    </style>
<div id="container3" style="overflow-y: hidden;">
    <div>
        <img class="rwdimgmap" src="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/processed.jpeg" usemap="#powerpuffgirls" alt="" />
        <map name="powerpuffgirls">
            <area target="" alt="akola" title="akola" ui-sref="stage({id: 99})" coords="371,96,636,96,374,240,635,239" shape="poly">
            <area target="" alt="amravati" title="amravati" ui-sref="stage({id: 98})" coords="668,98,928,98,671,240,926,239" shape="poly">
            <area target="" alt="aurangabad" title="aurangabad" ui-sref="stage({id: 100})" coords="956,96,958,241,1212,242,1213,98" shape="poly">
            <area target="" alt="goa" title="goa" ui-sref="stage({id: 106})" coords="81,297,339,297,83,434,338,439" shape="poly">
            <area target="" alt="jalgaon" title="jalgaon" ui-sref="stage({id: 105})" coords="378,297,635,295,378,435,636,442" shape="poly">
            <area target="" alt="kolhapur" title="kolhapur" ui-sref="stage({id: 108})" coords="670,296,669,440,928,437,929,296" shape="poly">
            <area target="" alt="mumbai" title="mumbai" ui-sref="stage({id: 104})" coords="963,298,962,433,1212,439,1209,297" shape="poly">
            <area target="" alt="nagpur" title="nagpur" ui-sref="stage({id: 101})" coords="81,493,79,634,333,639,340,497,337,489" shape="poly">
            <area target="" alt="navimumbai" title="navimumbai" ui-sref="stage({id: 103})" coords="379,493,379,631,635,635,634,493" shape="poly">
            <area target="" alt="pune" title="pune" ui-sref="stage({id: 107})" coords="671,493,670,633,928,633,926,492" shape="poly">  
            <area target="" alt="nashik" title="nashik" ui-sref="stage({id: 102})" coords="962,494,958,634,1213,634,1216,495" shape="poly">
            <!-- <area target="" alt="mumbai" title="mumbai" ui-sref="stage({id:17})" coords="915,128,1555,492" shape="rect">
            <area target="" alt="chennai" title="chennai" ui-sref="stage({id:13})" coords="2309,482,1666,128" shape="rect">
            <area target="" alt="kolkata" title="kolkata" ui-sref="stage({id:16})" coords="161,531,797,890" shape="rect">
            <area target="" alt="gurgaon" title="gurgaon" ui-sref="stage({id:14})" coords="915,534,1557,890" shape="rect">
            <area target="" alt="ahmedabad" title="ahmedabad" ui-sref="stage({id:11})" coords="1669,527,2309,885" shape="rect">
            <area target="" alt="bangalore" title="bangalore" ui-sref="stage({id:12})" coords="161,938,799,1290" shape="rect">
            <area target="" alt="pune" title="pune" ui-sref="stage({id:18})" coords="915,934,1555,1293" shape="rect">
            <area target="" alt="hyderabad" title="hyderabad" ui-sref="stage({id:15})" coords="1673,938,2311,1296" shape="rect"> -->
        </map>
       
    </div>
<div class="lightbox" ng-if="popupvideo" id="lightbox-1">
    <div class="video-pop-box">
        <iframe src="https://player.vimeo.com/video/448854769?autoplay=1" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    <a class="lightbox__close" ng-click="closePopup()"><img src="images/criss-cross.svg"></a>
    </div>
</div>