<style type="text/css">
    area:hover {
        cursor: pointer;
    }
    img[usemap] {
        border: none;
        height: auto;
        max-width: 100%;
        min-width: 100%;
        width: auto;
    }

    .agenda_download{
        color: #fff;
        padding:10px 15px;
        float: right;
        margin:10px; 
        background-color: #f00;

    }
    </style> 
    <!-- <a class="agenda_download" href="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Bio+India+2021+Agenda_updated_02_03.pdf" download="download" target="_blank">Download Agenda</a> -->
    <div style="width: 100%; height:100vh;overflow-y:scroll">
        <!-- <img src="https://proptiger-right-to-home.s3.ap-south-1.amazonaws.com/Header+Proptiger.jpg"> -->
        <img src = "https://proptiger-right-to-home.s3.ap-south-1.amazonaws.com/proptiger-indias-first-live.jpg">
    </div>    
    <!-- <video playsinline id="video" preload="" ng-show="showvideo">
        <source src="videos/STALL RENDERS.mp4" type="video/mp4">
    </video> -->
    