<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date(); Tawk_API.embedded='tawk_5f92ffc3194f2c4cbeb877f1';
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5f92ffc3194f2c4cbeb877f1/1env80nn5';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);})();
    </script>
    <!--End of Tawk.to Script-->
    <style>
        #container-support{
            width: 100%;
            height: 60vh;
            justify-content: center;
            align-items: center;
            background: url("images/1-background.png");
            background-size: 100% 100%;
        }
        .tawk-to {
            margin: auto;
    padding: 0vh 30vh 0vh 30vh;
    height: 60vh;
    position: relative;
}
    .image{
        position: absolute;
        top: 6vh;
    right: 13vh;
        
    }
    .image img{
        width: 15vh;
    }
    .page-header{
        padding: 2vh;
        background-color: #0e4c89;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .logo1{
        width: 14%;
    }
    .logo2{
        width: 8%;
    }
    .page-header h1{
        font-size: 37px;
    font-weight: 700;
    color: white;
    margin-left: -10vh;
    }
    @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .page-header h1 {
    font-size: 20px !important;
    font-weight: 700;
    color: #254e8b;
    margin-left: 0vh;

}
}
.header{
    margin-bottom: 3vh;
}
    </style>
<div class="container-fluid feedback">
    <div class="header">
        <img class="img-fluid" src="images/header-bg.jpg">
    </div>
<div id="container-support">
    
    <div class="taggbox-container" style=" width:100%;height:500px;overflow: auto;"><script defer src="https://app.taggbox.com/events/js/embed.min.js" type="text/javascript"></script><div class="taggbox-socialwall" data-wall-id="42966" view-url="https://app.taggbox.com/events/w/42966">  </div></div>
    

</div>
<div class="footer">
    <img class="img-fluid" src="images/footer-bg.jpg">
</div>
</div>