<style type="text/css">
    area:hover {
        cursor: pointer;
    }
    img[usemap] {
        border: none;
        height: auto;
        max-width: 100%;
        min-width: 100%;
        width: auto;
    }

    .agenda_download{
        color: #fff;
        padding:10px 15px;
        float: right;
        margin:10px;
        background-color: #f00;
    }

    .next{
        background-color: #E78023;
        bottom: 40% !important;
        left: 45%;
        padding: 5px 20px;
        position: relative;
    }

    .chatTimeOverMessage{
        font-size: 22px;
        margin:5% 20px;
    }
    </style> 
    <!-- <a class="agenda_download" href="https://iisfvirtex.s3.ap-south-1.amazonaws.com/images/Bio+India+2021+Agenda_updated_02_03.pdf" download="download" target="_blank">Download Agenda</a> -->
    <div style="width: 100%; height:100vh;overflow-y:scroll">
        <!-- <img src="https://proptiger-right-to-home.s3.ap-south-1.amazonaws.com/Header+Proptiger.jpg"> -->
        <img src = "https://proptiger-right-to-home.s3.ap-south-1.amazonaws.com/updated/Merged Direct & About PT.jpg">
        <a class="next" href="javascript:void(0)" data-toggle="modal" data-target="#chatTimeOverModal"><i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;Disclaimer</a>
    </div>   
    <!-- <video playsinline id="video" preload="" ng-show="showvideo">
        <source src="videos/STALL RENDERS.mp4" type="video/mp4">
    </video> -->

    <div class="modal fade" id="chatTimeOverModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 48% !important;height: 80% !important;margin:0px auto !important;">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>              
            <div class="modal-body" style="padding:0px !important;width:101.3% !important;text-align: center;color: #fff;overflow: hidden;">
                <p class="chatTimeOverMessage">PropTiger.com shall neither be responsible nor liable for any inaccuracy in the information provided here and therefore the customers are requested to independently validate the information from the respective developers before making their decisions related to properties displayed here. PropTiger.com, its directors, employees, agents and other representatives shall not be liable for any action taken, cost / expenses / losses incurred, by you.</p>
                
            </div>
          </div>
        </div>
    </div>
    