<style>
abbr[title], dfn[title] {
    border-bottom: none;
	cursor: pointer;
	border: none;
}
</style>
<div class="main-container">
	<!-- <div id="header-32">
		<div class="header-text2">
			<img id="img-4" src="images/almond vertx.png">
		</div>
		<div id="time2">
			<p class="pt1">Time Left</p>
			<p class="pt2">1h:2m</p>
			<div class="progress" style="height: 4px;">
				<div class="progress-bar"></div>
			</div>
		</div>
	</div> -->
	<div id="video-container">
		<iframe src="{{video_url}}" width=800 height=640 scrolling="auto" allow="microphone; camera" ></iframe>
		<!-- <div id="otEmbedContainer" style="width:800px; height:640px"></div> <script src="{{video_url}}"></script> -->
	</div>
	<!-- <div id="video-buttons"> -->
		<!-- <button class="video-end-btn4"><abbr title="Invite-People"><i class="fas fa-user-plus"></i></abbr></button>
		<button class="video-end-btn3"><abbr title="Diable-Mic"><i class="fas fa-microphone-slash"></i></abbr></button>		
		<button class="video-end-btn" ng-click="destroyConf()"><abbr title="End-Call"><i class="fas fa-phone-slash"></i></abbr></button>
		<button class="video-end-btn2"><abbr title="Disable-Camera"><i class="fas fa-video-slash"></i></abbr></button>
		<button class="video-end-btn5"><abbr title="Share-Screen"><i class="fas fa-desktop"></i></abbr></button> -->
	<!-- </div> -->
</div>